.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  justify-content: flex-start;
  //   border: 1px solid #888;
  border-radius: 1rem;
  margin: 1rem;
  width: 30%;
  height: 30%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 1rem;

  .title {
    font-size: smaller;
  }

  &:hover {
    transform: scale(1.05);
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    img {
      width: 50%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }

  .textContainer {
    text-align: center;
    padding: 0.5rem;

    .addedMessage {
      display: block;
      margin-top: 0.5rem;
      color: #28a745;
      font-size: 1rem;
    }
  }

  button {
    padding: 0.5rem 0.6rem;
    background-color: #457b9d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-top: 1rem;

    &:hover {
      background-color: #1d3557;
    }
  }
}
